.pending {
  border-color: #dfc72a;
  color: #baa624;
}
.delivering {
  border-color: #067fd0;
  color: #067fd0;
}
.completed {
  border-color: #47b466;
  color: #47b466;
}
.canceled {
  border-color: #eb4e56;
  color: #eb4e56;
}
